.grid{
  /* height: 70vh;  */
  /* width: 98vw;  */
  display: flex; 
  align-items: center;
  justify-content: center; 
  flex-flow: wrap;
  border: 2px solid purple;
}



/* .gridContainer {
  height: 50vh; 
  width: 80vw;
  border: 2px solid black;
} */

.node {
  height: 3vh;
  width: 1.5vw;
  border: 1.3px solid darkgray;
}

.nav {
  height: 8vh;
  border: 2px black solid;
  background-color: #023047;
}

.fullGrid {
  /* width: 98.3vw;
  height: 60vh; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: wrap;
}

.nodeOptions {
  height: 22vh;
  /* border: 2px solid pink; */
}

.node-start {
  background-color: lightgreen;
}

.node-finish {
  background-color: red;
}