.main {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid purple;
}

.gridContainer {
  height: 50vh; 
  width: 80vw;
  border: 2px solid black;
}

.grid {
  height: 2vh;
  width: 1vw;
  border: 2px black solid;
}